@font-face {
  font-family: 'app';
  src: url('../fonts/app.eot?63395461');
  src: url('../fonts/app.eot?63395461#iefix') format('embedded-opentype'),
       url('../fonts/app.woff2?63395461') format('woff2'),
       url('../fonts/app.woff?63395461') format('woff'),
       url('../fonts/app.ttf?63395461') format('truetype'),
       url('../fonts/app.svg?63395461#app') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'app';
    src: url('../font/app.svg?63395461#app') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "app";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user-add:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-emo-wink:before { content: '\e803'; } /* '' */
.icon-emo-unhappy:before { content: '\e804'; } /* '' */
.icon-emo-sleep:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-thumbsup:before { content: '\e807'; } /* '' */
.icon-emo-devil:before { content: '\e808'; } /* '' */
.icon-emo-tongue:before { content: '\e809'; } /* '' */
.icon-emo-coffee:before { content: '\e80a'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80b'; } /* '' */
.icon-emo-displeased:before { content: '\e80c'; } /* '' */
.icon-emo-beer:before { content: '\e80d'; } /* '' */
.icon-emo-grin:before { content: '\e80e'; } /* '' */
.icon-emo-angry:before { content: '\e80f'; } /* '' */
.icon-emo-saint:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-cry:before { content: '\e814'; } /* '' */
.icon-emo-shoot:before { content: '\e815'; } /* '' */
.icon-progress-4:before { content: '\e816'; } /* '' */
.icon-progress-5:before { content: '\e817'; } /* '' */
.icon-progress-6:before { content: '\e818'; } /* '' */
.icon-progress-7:before { content: '\e819'; } /* '' */
.icon-font:before { content: '\e81a'; } /* '' */
.icon-list:before { content: '\e81b'; } /* '' */
.icon-list-numbered:before { content: '\e81c'; } /* '' */
.icon-indent-left:before { content: '\e81d'; } /* '' */
.icon-indent-right:before { content: '\e81e'; } /* '' */
.icon-cloud:before { content: '\e81f'; } /* '' */
.icon-terminal:before { content: '\e820'; } /* '' */
.icon-progress-3:before { content: '\e821'; } /* '' */
.icon-progress-2:before { content: '\e822'; } /* '' */
.icon-progress-1:before { content: '\e823'; } /* '' */
.icon-progress-0:before { content: '\e824'; } /* '' */
.icon-signal:before { content: '\e825'; } /* '' */
.icon-target:before { content: '\e826'; } /* '' */
.icon-updown-circle:before { content: '\e827'; } /* '' */
.icon-arrows-cw:before { content: '\e828'; } /* '' */
.icon-cw-circle:before { content: '\e829'; } /* '' */
.icon-up-micro:before { content: '\e82a'; } /* '' */
.icon-down-micro:before { content: '\e82b'; } /* '' */
.icon-right-dir:before { content: '\e82c'; } /* '' */
.icon-down-dir:before { content: '\e82d'; } /* '' */
.icon-up-circle:before { content: '\e82e'; } /* '' */
.icon-left-circle:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-minus-circle:before { content: '\e835'; } /* '' */
.icon-search:before { content: '\e836'; } /* '' */
.icon-mail:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-link:before { content: '\e83a'; } /* '' */
.icon-docs-landscape:before { content: '\e83b'; } /* '' */
.icon-folder:before { content: '\e83c'; } /* '' */
.icon-heart-empty:before { content: '\e83d'; } /* '' */
.icon-lock:before { content: '\e83e'; } /* '' */
.icon-attach:before { content: '\e83f'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-heart:before { content: '\e848'; } /* '' */
.icon-archive:before { content: '\e849'; } /* '' */
.icon-right-circle:before { content: '\e84a'; } /* '' */
.icon-rss:before { content: '\e84b'; } /* '' */
.icon-lock-open:before { content: '\e84c'; } /* '' */
.icon-star:before { content: '\e84d'; } /* '' */
.icon-user:before { content: '\e84e'; } /* '' */
.icon-tag:before { content: '\e84f'; } /* '' */
.icon-rss-alt:before { content: '\e850'; } /* '' */
.icon-cog:before { content: '\e851'; } /* '' */
.icon-reply:before { content: '\e852'; } /* '' */
.icon-video:before { content: '\e853'; } /* '' */
.icon-logout:before { content: '\e854'; } /* '' */
.icon-reply-all:before { content: '\e855'; } /* '' */
.icon-picture:before { content: '\e856'; } /* '' */
.icon-th-large:before { content: '\e857'; } /* '' */
.icon-forward:before { content: '\e858'; } /* '' */
.icon-clock:before { content: '\e859'; } /* '' */
.icon-block:before { content: '\e85a'; } /* '' */
.icon-code:before { content: '\e85b'; } /* '' */
.icon-th:before { content: '\e85c'; } /* '' */
.icon-th-list:before { content: '\e85d'; } /* '' */
.icon-resize-full-circle:before { content: '\e85e'; } /* '' */
.icon-comment:before { content: '\e85f'; } /* '' */
.icon-ok:before { content: '\e860'; } /* '' */
.icon-retweet:before { content: '\e861'; } /* '' */
.icon-resize-full:before { content: '\e862'; } /* '' */
.icon-ok-circle:before { content: '\e863'; } /* '' */
.icon-comment-alt:before { content: '\e864'; } /* '' */
.icon-popup:before { content: '\e865'; } /* '' */
.icon-cancel:before { content: '\e866'; } /* '' */
.icon-chat:before { content: '\e867'; } /* '' */
.icon-left-open:before { content: '\e868'; } /* '' */
.icon-cancel-circle:before { content: '\e869'; } /* '' */
.icon-attention:before { content: '\e86a'; } /* '' */
.icon-right-open:before { content: '\e86b'; } /* '' */
.icon-down-circle:before { content: '\e86c'; } /* '' */
.icon-location:before { content: '\e86d'; } /* '' */
.icon-plus-circle:before { content: '\e86e'; } /* '' */
.icon-comment-1:before { content: '\e86f'; } /* '' */
.icon-inbox:before { content: '\e870'; } /* '' */
.icon-wallet:before { content: '\e871'; } /* '' */
.icon-t-shirt:before { content: '\e872'; } /* '' */
.icon-cd:before { content: '\e873'; } /* '' */
.icon-pencil:before { content: '\e874'; } /* '' */
.icon-thumbs-up:before { content: '\e875'; } /* '' */
.icon-mobile:before { content: '\e876'; } /* '' */
.icon-diamond:before { content: '\e877'; } /* '' */
.icon-shop:before { content: '\e878'; } /* '' */
.icon-desktop:before { content: '\e879'; } /* '' */
.icon-tag-1:before { content: '\e87a'; } /* '' */
.icon-eye:before { content: '\e87b'; } /* '' */
.icon-tv:before { content: '\e87c'; } /* '' */
.icon-food:before { content: '\e87d'; } /* '' */
.icon-money:before { content: '\e87e'; } /* '' */
.icon-lightbulb:before { content: '\e87f'; } /* '' */
.icon-lock-1:before { content: '\e880'; } /* '' */
.icon-attach-1:before { content: '\e881'; } /* '' */
.icon-clock-1:before { content: '\e882'; } /* '' */
.icon-truck:before { content: '\e883'; } /* '' */
.icon-beaker:before { content: '\e884'; } /* '' */
.icon-sound:before { content: '\e885'; } /* '' */
.icon-photo:before { content: '\e886'; } /* '' */
.icon-camera:before { content: '\e887'; } /* '' */
.icon-calendar:before { content: '\e888'; } /* '' */
.icon-key:before { content: '\e889'; } /* '' */
.icon-database:before { content: '\e88a'; } /* '' */
.icon-params:before { content: '\e88b'; } /* '' */
.icon-videocam:before { content: '\e88c'; } /* '' */
.icon-user-1:before { content: '\e88d'; } /* '' */
.icon-cog-1:before { content: '\e88e'; } /* '' */
.icon-megaphone:before { content: '\e88f'; } /* '' */
.icon-graduation-cap:before { content: '\e890'; } /* '' */
.icon-note:before { content: '\e891'; } /* '' */
.icon-star-1:before { content: '\e892'; } /* '' */
.icon-heart-1:before { content: '\e893'; } /* '' */
.icon-doc-1:before { content: '\e894'; } /* '' */
.icon-fire:before { content: '\e895'; } /* '' */
.icon-paper-plane-1:before { content: '\e896'; } /* '' */
.icon-trash:before { content: '\e897'; } /* '' */
.icon-mail-1:before { content: '\e898'; } /* '' */
.icon-cloud-1:before { content: '\e899'; } /* '' */
.icon-cup:before { content: '\e89a'; } /* '' */
.icon-search-1:before { content: '\e89b'; } /* '' */
.icon-music:before { content: '\e89c'; } /* '' */
.icon-location-1:before { content: '\e89d'; } /* '' */
.icon-globe:before { content: '\e89e'; } /* '' */
.icon-youtube-1:before { content: '\e89f'; } /* '' */
.icon-wordpress:before { content: '\e8a0'; } /* '' */
.icon-w3c:before { content: '\e8a1'; } /* '' */
.icon-vkontakte:before { content: '\e8a2'; } /* '' */
.icon-vimeo:before { content: '\e8a3'; } /* '' */
.icon-tumblr:before { content: '\e8a4'; } /* '' */
.icon-twitter:before { content: '\e8a5'; } /* '' */
.icon-stumbleupon:before { content: '\e8a6'; } /* '' */
.icon-stackoverflow:before { content: '\e8a7'; } /* '' */
.icon-slideshare:before { content: '\e8a8'; } /* '' */
.icon-skype-1:before { content: '\e8a9'; } /* '' */
.icon-reddit:before { content: '\e8aa'; } /* '' */
.icon-pinterest:before { content: '\e8ab'; } /* '' */
.icon-picasa:before { content: '\e8ac'; } /* '' */
.icon-path:before { content: '\e8ad'; } /* '' */
.icon-linkedin:before { content: '\e8ae'; } /* '' */
.icon-instagram:before { content: '\e8af'; } /* '' */
.icon-googleplus:before { content: '\e8b0'; } /* '' */
.icon-github-text:before { content: '\e8b1'; } /* '' */
.icon-github:before { content: '\e8b2'; } /* '' */
.icon-friendfeed-rect:before { content: '\e8b3'; } /* '' */
.icon-flickr:before { content: '\e8b4'; } /* '' */
.icon-facebook:before { content: '\e8b5'; } /* '' */
.icon-dribbble:before { content: '\e8b6'; } /* '' */
.icon-digg:before { content: '\e8b7'; } /* '' */
.icon-deviantart:before { content: '\e8b8'; } /* '' */
.icon-delicious:before { content: '\e8b9'; } /* '' */
.icon-css:before { content: '\e8ba'; } /* '' */
.icon-cc:before { content: '\e8bb'; } /* '' */
.icon-address-book-alt:before { content: '\e8bc'; } /* '' */
.icon-asl:before { content: '\e8bd'; } /* '' */
.icon-hearing-impaired:before { content: '\e8be'; } /* '' */
.icon-iphone-home:before { content: '\e8bf'; } /* '' */
.icon-megaphone-1:before { content: '\e8c0'; } /* '' */
.icon-glasses:before { content: '\e8c1'; } /* '' */
.icon-person:before { content: '\e8c2'; } /* '' */
.icon-adult:before { content: '\e8c3'; } /* '' */
.icon-child:before { content: '\e8c4'; } /* '' */
.icon-blind:before { content: '\e8c5'; } /* '' */
.icon-guidedog:before { content: '\e8c6'; } /* '' */
.icon-accessibility:before { content: '\e8c7'; } /* '' */
.icon-universal-access:before { content: '\e8c8'; } /* '' */
.icon-male:before { content: '\e8c9'; } /* '' */
.icon-female:before { content: '\e8ca'; } /* '' */
.icon-behance:before { content: '\e8cb'; } /* '' */
.icon-blogger:before { content: '\e8cc'; } /* '' */
.icon-address-book:before { content: '\e8cd'; } /* '' */
.icon-smiley-circled:before { content: '\e8ce'; } /* '' */
.icon-smiley:before { content: '\e8cf'; } /* '' */
.icon-gauge:before { content: '\e8d0'; } /* '' */
.icon-filter:before { content: '\e8d1'; } /* '' */
.icon-tasks:before { content: '\e8d2'; } /* '' */
.icon-certificate:before { content: '\e8d3'; } /* '' */
.icon-key-1:before { content: '\e8d4'; } /* '' */
.icon-hdd:before { content: '\e8d5'; } /* '' */
.icon-clipboard:before { content: '\e8d6'; } /* '' */
.icon-credit-card:before { content: '\e8d7'; } /* '' */
.icon-chart-circled:before { content: '\e8d8'; } /* '' */
.icon-chart:before { content: '\e8d9'; } /* '' */
.icon-magnet:before { content: '\e8da'; } /* '' */
.icon-fire-1:before { content: '\e8db'; } /* '' */
.icon-list-1:before { content: '\e8dc'; } /* '' */
.icon-indent-left-1:before { content: '\e8dd'; } /* '' */
.icon-indent-right-1:before { content: '\e8de'; } /* '' */
.icon-off:before { content: '\e8df'; } /* '' */
.icon-briefcase:before { content: '\e8e0'; } /* '' */
.icon-road:before { content: '\e8e1'; } /* '' */
.icon-qrcode:before { content: '\e8e2'; } /* '' */
.icon-barcode:before { content: '\e8e3'; } /* '' */
.icon-braille:before { content: '\e8e4'; } /* '' */
.icon-book:before { content: '\e8e5'; } /* '' */
.icon-text-width:before { content: '\e8e6'; } /* '' */
.icon-adjust:before { content: '\e8e7'; } /* '' */
.icon-tint:before { content: '\e8e8'; } /* '' */
.icon-check-empty:before { content: '\e8e9'; } /* '' */
.icon-check:before { content: '\e8ea'; } /* '' */
.icon-align-right:before { content: '\e8eb'; } /* '' */
.icon-asterisk:before { content: '\e8ec'; } /* '' */
.icon-gift:before { content: '\e8ed'; } /* '' */
.icon-align-justify:before { content: '\e8ee'; } /* '' */
.icon-align-center:before { content: '\e8ef'; } /* '' */
.icon-align-left:before { content: '\e8f0'; } /* '' */
.icon-text-height:before { content: '\e8f1'; } /* '' */
.icon-italic:before { content: '\e8f2'; } /* '' */
.icon-bold:before { content: '\e8f3'; } /* '' */
.icon-fontsize:before { content: '\e8f4'; } /* '' */
.icon-font-1:before { content: '\e8f5'; } /* '' */
.icon-leaf:before { content: '\e8f6'; } /* '' */
.icon-flight:before { content: '\e8f7'; } /* '' */
.icon-cloud-circled:before { content: '\e8f8'; } /* '' */
.icon-cloud-2:before { content: '\e8f9'; } /* '' */
.icon-globe-alt:before { content: '\e8fa'; } /* '' */
.icon-globe-1:before { content: '\e8fb'; } /* '' */
.icon-inbox-alt:before { content: '\e8fc'; } /* '' */
.icon-backward-circled:before { content: '\e8fd'; } /* '' */
.icon-right-hand:before { content: '\e8fe'; } /* '' */
.icon-zoom-in:before { content: '\e8ff'; } /* '' */
.icon-volume-off:before { content: '\e900'; } /* '' */
.icon-folder-close:before { content: '\e901'; } /* '' */
.icon-warning:before { content: '\e902'; } /* '' */
.icon-download-alt:before { content: '\e903'; } /* '' */
.icon-attach-circled:before { content: '\e904'; } /* '' */
.icon-ok-circled2:before { content: '\e905'; } /* '' */
.icon-torso:before { content: '\e906'; } /* '' */
.icon-group-circled:before { content: '\e907'; } /* '' */
.icon-ok-circled:before { content: '\e908'; } /* '' */
.icon-attach-2:before { content: '\e909'; } /* '' */
.icon-download:before { content: '\e90a'; } /* '' */
.icon-bell:before { content: '\e90b'; } /* '' */
.icon-folder-circled:before { content: '\e90c'; } /* '' */
.icon-mic-circled:before { content: '\e90d'; } /* '' */
.icon-move:before { content: '\e90e'; } /* '' */
.icon-left-hand:before { content: '\e90f'; } /* '' */
.icon-backward:before { content: '\e910'; } /* '' */
.icon-inbox-circled:before { content: '\e911'; } /* '' */
.icon-inbox-1:before { content: '\e912'; } /* '' */
.icon-eject:before { content: '\e913'; } /* '' */
.icon-down-hand:before { content: '\e914'; } /* '' */
.icon-resize-horizontal:before { content: '\e915'; } /* '' */
.icon-mic:before { content: '\e916'; } /* '' */
.icon-folder-1:before { content: '\e917'; } /* '' */
.icon-comment-alt-1:before { content: '\e918'; } /* '' */
.icon-thumbs-down:before { content: '\e919'; } /* '' */
.icon-group:before { content: '\e91a'; } /* '' */
.icon-ok-1:before { content: '\e91b'; } /* '' */
.icon-website-circled:before { content: '\e91c'; } /* '' */
.icon-network:before { content: '\e91d'; } /* '' */
.icon-record:before { content: '\e91e'; } /* '' */
.icon-up-circled:before { content: '\e91f'; } /* '' */
.icon-resize-vertical:before { content: '\e920'; } /* '' */
.icon-calendar-circled:before { content: '\e921'; } /* '' */
.icon-doc-new-circled:before { content: '\e922'; } /* '' */
.icon-comment-2:before { content: '\e923'; } /* '' */
.icon-thumbs-up-1:before { content: '\e924'; } /* '' */
.icon-website:before { content: '\e925'; } /* '' */
.icon-view-mode:before { content: '\e926'; } /* '' */
.icon-user-2:before { content: '\e927'; } /* '' */
.icon-th-list-1:before { content: '\e928'; } /* '' */
.icon-home-circled:before { content: '\e929'; } /* '' */
.icon-flag-circled:before { content: '\e92a'; } /* '' */
.icon-retweet-1:before { content: '\e92b'; } /* '' */
.icon-doc-new:before { content: '\e92c'; } /* '' */
.icon-calendar-1:before { content: '\e92d'; } /* '' */
.icon-resize-small:before { content: '\e92e'; } /* '' */
.icon-desktop-circled:before { content: '\e92f'; } /* '' */
.icon-pause-circled:before { content: '\e930'; } /* '' */
.icon-laptop-circled:before { content: '\e931'; } /* '' */
.icon-star-empty:before { content: '\e932'; } /* '' */
.icon-star-circled:before { content: '\e933'; } /* '' */
.icon-th-1:before { content: '\e934'; } /* '' */
.icon-home:before { content: '\e935'; } /* '' */
.icon-flag:before { content: '\e936'; } /* '' */
.icon-print:before { content: '\e937'; } /* '' */
.icon-doc-circled:before { content: '\e938'; } /* '' */
.icon-basket-circled:before { content: '\e939'; } /* '' */
.icon-resize-full-alt:before { content: '\e93a'; } /* '' */
.icon-desktop-1:before { content: '\e93b'; } /* '' */
.icon-signal-1:before { content: '\e93c'; } /* '' */
.icon-laptop:before { content: '\e93d'; } /* '' */
.icon-pause:before { content: '\e93e'; } /* '' */
.icon-left-circled:before { content: '\e93f'; } /* '' */
.icon-target-1:before { content: '\e940'; } /* '' */
.icon-step-forward:before { content: '\e941'; } /* '' */
.icon-step-backward:before { content: '\e942'; } /* '' */
.icon-forward-circled:before { content: '\e943'; } /* '' */
.icon-forward-1:before { content: '\e944'; } /* '' */
.icon-fast-forward:before { content: '\e945'; } /* '' */
.icon-fast-backward:before { content: '\e946'; } /* '' */
.icon-up-hand:before { content: '\e947'; } /* '' */
.icon-cw-circled:before { content: '\e948'; } /* '' */
.icon-shuffle:before { content: '\e949'; } /* '' */
.icon-play:before { content: '\e94a'; } /* '' */
.icon-play-circled2:before { content: '\e94b'; } /* '' */
.icon-stop:before { content: '\e94c'; } /* '' */
.icon-cw:before { content: '\e94d'; } /* '' */
.icon-play-circled:before { content: '\e94e'; } /* '' */
.icon-stop-circled:before { content: '\e94f'; } /* '' */
.icon-down-circled:before { content: '\e950'; } /* '' */
.icon-resize-full-1:before { content: '\e951'; } /* '' */
.icon-basket:before { content: '\e952'; } /* '' */
.icon-doc-2:before { content: '\e953'; } /* '' */
.icon-edit-alt:before { content: '\e954'; } /* '' */
.icon-bookmark-empty:before { content: '\e955'; } /* '' */
.icon-info-circled:before { content: '\e956'; } /* '' */
.icon-th-large-1:before { content: '\e957'; } /* '' */
.icon-star-2:before { content: '\e958'; } /* '' */
.icon-photo-circled:before { content: '\e959'; } /* '' */
.icon-help-circled:before { content: '\e95a'; } /* '' */
.icon-bookmark:before { content: '\e95b'; } /* '' */
.icon-wrench-circled:before { content: '\e95c'; } /* '' */
.icon-block-1:before { content: '\e95d'; } /* '' */
.icon-up:before { content: '\e95e'; } /* '' */
.icon-trash-circled:before { content: '\e95f'; } /* '' */
.icon-edit-circled:before { content: '\e960'; } /* '' */
.icon-right:before { content: '\e961'; } /* '' */
.icon-left:before { content: '\e962'; } /* '' */
.icon-down:before { content: '\e963'; } /* '' */
.icon-up-open:before { content: '\e964'; } /* '' */
.icon-right-open-1:before { content: '\e965'; } /* '' */
.icon-left-open-1:before { content: '\e966'; } /* '' */
.icon-zoom-out:before { content: '\e967'; } /* '' */
.icon-volume:before { content: '\e968'; } /* '' */
.icon-volume-up:before { content: '\e969'; } /* '' */
.icon-headphones:before { content: '\e96a'; } /* '' */
.icon-clock-2:before { content: '\e96b'; } /* '' */
.icon-clock-circled:before { content: '\e96c'; } /* '' */
.icon-lightbulb-1:before { content: '\e96d'; } /* '' */
.icon-trash-1:before { content: '\e96e'; } /* '' */
.icon-edit:before { content: '\e96f'; } /* '' */
.icon-tags:before { content: '\e970'; } /* '' */
.icon-help:before { content: '\e971'; } /* '' */
.icon-lightbulb-alt:before { content: '\e972'; } /* '' */
.icon-volume-down:before { content: '\e973'; } /* '' */
.icon-heart-circled:before { content: '\e974'; } /* '' */
.icon-photo-1:before { content: '\e975'; } /* '' */
.icon-cogs:before { content: '\e976'; } /* '' */
.icon-compass-circled:before { content: '\e977'; } /* '' */
.icon-eye-off:before { content: '\e978'; } /* '' */
.icon-tag-2:before { content: '\e979'; } /* '' */
.icon-heart-2:before { content: '\e97a'; } /* '' */
.icon-heart-empty-1:before { content: '\e97b'; } /* '' */
.icon-camera-1:before { content: '\e97c'; } /* '' */
.icon-minus-circled:before { content: '\e97d'; } /* '' */
.icon-cog-circled:before { content: '\e97e'; } /* '' */
.icon-cog-2:before { content: '\e97f'; } /* '' */
.icon-phone-circled:before { content: '\e980'; } /* '' */
.icon-phone:before { content: '\e981'; } /* '' */
.icon-rss-1:before { content: '\e982'; } /* '' */
.icon-folder-open:before { content: '\e983'; } /* '' */
.icon-error:before { content: '\e984'; } /* '' */
.icon-compass:before { content: '\e985'; } /* '' */
.icon-minus:before { content: '\e986'; } /* '' */
.icon-wrench:before { content: '\e987'; } /* '' */
.icon-location-circled:before { content: '\e988'; } /* '' */
.icon-location-2:before { content: '\e989'; } /* '' */
.icon-error-alt:before { content: '\e98a'; } /* '' */
.icon-exclamation:before { content: '\e98b'; } /* '' */
.icon-upload:before { content: '\e98c'; } /* '' */
.icon-lock-circled:before { content: '\e98d'; } /* '' */
.icon-cancel-circled:before { content: '\e98e'; } /* '' */
.icon-video-circled:before { content: '\e98f'; } /* '' */
.icon-search-2:before { content: '\e990'; } /* '' */
.icon-mail-2:before { content: '\e991'; } /* '' */
.icon-mail-circled:before { content: '\e992'; } /* '' */
.icon-picture-1:before { content: '\e993'; } /* '' */
.icon-video-chat:before { content: '\e994'; } /* '' */
.icon-plus-circled:before { content: '\e995'; } /* '' */
.icon-eye-1:before { content: '\e996'; } /* '' */
.icon-export:before { content: '\e997'; } /* '' */
.icon-search-circled:before { content: '\e998'; } /* '' */
.icon-videocam-1:before { content: '\e999'; } /* '' */
.icon-plus:before { content: '\e99a'; } /* '' */
.icon-lock-open-alt:before { content: '\e99b'; } /* '' */
.icon-quote-circled:before { content: '\e99c'; } /* '' */
.icon-quote:before { content: '\e99d'; } /* '' */
.icon-share:before { content: '\e99e'; } /* '' */
.icon-lock-open-1:before { content: '\e99f'; } /* '' */
.icon-cancel-circled2:before { content: '\e9a0'; } /* '' */
.icon-music-1:before { content: '\e9a1'; } /* '' */
.icon-glass:before { content: '\e9a2'; } /* '' */
.icon-video-1:before { content: '\e9a3'; } /* '' */
.icon-cancel-1:before { content: '\e9a4'; } /* '' */
.icon-lock-2:before { content: '\e9a5'; } /* '' */
.icon-video-alt:before { content: '\e9a6'; } /* '' */
.icon-pencil-circled:before { content: '\e9a7'; } /* '' */
.icon-pencil-1:before { content: '\e9a8'; } /* '' */
.icon-facebook-rect-1:before { content: '\e9a9'; } /* '' */
.icon-vimeo-rect-1:before { content: '\e9aa'; } /* '' */
.icon-tumblr-rect-1:before { content: '\e9ab'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e9ac'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\e9ad'; } /* '' */
.icon-friendfeed:before { content: '\e9ae'; } /* '' */
.icon-friendfeed-rect-1:before { content: '\e9af'; } /* '' */
.icon-twitter-bird-1:before { content: '\e9b0'; } /* '' */
.icon-odnoklassniki-rect-1:before { content: '\e9b1'; } /* '' */
.icon-skype-2:before { content: '\e9b2'; } /* '' */
.icon-lkdto:before { content: '\e9b3'; } /* '' */
.icon-hackernews:before { content: '\e9b4'; } /* '' */
.icon-stackoverflow-1:before { content: '\e9b5'; } /* '' */
.icon-login:before { content: '\e9b6'; } /* '' */
.icon-lego:before { content: '\e9b7'; } /* '' */
.icon-bitbucket:before { content: '\e9b8'; } /* '' */
.icon-pocket:before { content: '\e9b9'; } /* '' */
.icon-aim:before { content: '\e9ba'; } /* '' */
.icon-github-2:before { content: '\e9bb'; } /* '' */
.icon-youtube-2:before { content: '\e9bc'; } /* '' */
.icon-w3c-1:before { content: '\e9bd'; } /* '' */
.icon-delicious-1:before { content: '\e9be'; } /* '' */
.icon-paypal:before { content: '\e9bf'; } /* '' */
.icon-smashmag:before { content: '\e9c0'; } /* '' */
.icon-gplus:before { content: '\e9c1'; } /* '' */
.icon-wikipedia:before { content: '\e9c2'; } /* '' */
.icon-lanyrd:before { content: '\e9c3'; } /* '' */
.icon-calendar-2:before { content: '\e9c4'; } /* '' */
.icon-stumbleupon-1:before { content: '\e9c5'; } /* '' */
.icon-fivehundredpx:before { content: '\e9c6'; } /* '' */
.icon-pinterest-1:before { content: '\e9c7'; } /* '' */
.icon-bitcoin:before { content: '\e9c8'; } /* '' */
.icon-cc-1:before { content: '\e9c9'; } /* '' */
.icon-twitter-2:before { content: '\e9ca'; } /* '' */
.icon-facebook-2:before { content: '\e9cb'; } /* '' */
.icon-yelp:before { content: '\e9cc'; } /* '' */
.icon-buffer:before { content: '\e9cd'; } /* '' */
.icon-drupal:before { content: '\e9ce'; } /* '' */
.icon-acrobat:before { content: '\e9cf'; } /* '' */
.icon-statusnet:before { content: '\e9d0'; } /* '' */
.icon-appnet:before { content: '\e9d1'; } /* '' */
.icon-dwolla:before { content: '\e9d2'; } /* '' */
.icon-instagram-2:before { content: '\e9d3'; } /* '' */
.icon-angellist:before { content: '\e9d4'; } /* '' */
.icon-print-1:before { content: '\e9d5'; } /* '' */
.icon-stripe:before { content: '\e9d6'; } /* '' */
.icon-posterous:before { content: '\e9d7'; } /* '' */
.icon-scribd:before { content: '\e9d8'; } /* '' */
.icon-eventbrite:before { content: '\e9d9'; } /* '' */
.icon-duckduckgo:before { content: '\e9da'; } /* '' */
.icon-dribbble-1:before { content: '\e9db'; } /* '' */
.icon-intensedebate:before { content: '\e9dc'; } /* '' */
.icon-github-circled:before { content: '\e9dd'; } /* '' */
.icon-googleplay:before { content: '\e9de'; } /* '' */
.icon-itunes:before { content: '\e9df'; } /* '' */
.icon-lastfm-1:before { content: '\e9e0'; } /* '' */
.icon-songkick:before { content: '\e9e1'; } /* '' */
.icon-plurk:before { content: '\e9e2'; } /* '' */
.icon-cart:before { content: '\e9e3'; } /* '' */
.icon-opentable:before { content: '\e9e4'; } /* '' */
.icon-gmail:before { content: '\e9e5'; } /* '' */
.icon-pinboard:before { content: '\e9e6'; } /* '' */
.icon-openid:before { content: '\e9e7'; } /* '' */
.icon-quora:before { content: '\e9e8'; } /* '' */
.icon-soundcloud:before { content: '\e9e9'; } /* '' */
.icon-wordpress-2:before { content: '\e9ea'; } /* '' */
.icon-ebay:before { content: '\e9eb'; } /* '' */
.icon-skype-3:before { content: '\e9ec'; } /* '' */
.icon-blogger-2:before { content: '\e9ed'; } /* '' */
.icon-appstore:before { content: '\e9ee'; } /* '' */
.icon-rss-2:before { content: '\e9ef'; } /* '' */
.icon-dropbox:before { content: '\e9f0'; } /* '' */
.icon-gowalla:before { content: '\e9f1'; } /* '' */
.icon-guest:before { content: '\e9f2'; } /* '' */
.icon-plancast:before { content: '\e9f3'; } /* '' */
.icon-steam:before { content: '\e9f4'; } /* '' */
.icon-reddit-1:before { content: '\e9f5'; } /* '' */
.icon-spotify:before { content: '\e9f6'; } /* '' */
.icon-digg-1:before { content: '\e9f7'; } /* '' */
.icon-forrst:before { content: '\e9f8'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e9f9'; } /* '' */
.icon-grooveshark:before { content: '\e9fa'; } /* '' */
.icon-ie-1:before { content: '\e9fb'; } /* '' */
.icon-evernote:before { content: '\e9fc'; } /* '' */
.icon-vimeo-2:before { content: '\e9fd'; } /* '' */
.icon-windows:before { content: '\e9fe'; } /* '' */
.icon-flickr-1:before { content: '\e9ff'; } /* '' */
.icon-weibo:before { content: '\ea00'; } /* '' */
.icon-chrome-1:before { content: '\ea01'; } /* '' */
.icon-macstore:before { content: '\ea02'; } /* '' */
.icon-email:before { content: '\ea03'; } /* '' */
.icon-amazon:before { content: '\ea04'; } /* '' */
.icon-podcast:before { content: '\ea05'; } /* '' */
.icon-myspace:before { content: '\ea06'; } /* '' */
.icon-linkedin-2:before { content: '\ea07'; } /* '' */
.icon-meetup:before { content: '\ea08'; } /* '' */
.icon-vk:before { content: '\ea09'; } /* '' */
.icon-klout:before { content: '\ea0a'; } /* '' */
.icon-viadeo:before { content: '\ea0b'; } /* '' */
.icon-call:before { content: '\ea0c'; } /* '' */
.icon-html5:before { content: '\ea0d'; } /* '' */
.icon-foursquare:before { content: '\ea0e'; } /* '' */
.icon-eventasaurus:before { content: '\ea0f'; } /* '' */
.icon-tumblr-2:before { content: '\ea10'; } /* '' */
.icon-cloudapp:before { content: '\ea11'; } /* '' */
.icon-disqus:before { content: '\ea12'; } /* '' */
.icon-yahoo:before { content: '\ea13'; } /* '' */
.icon-xing:before { content: '\ea14'; } /* '' */
.icon-google:before { content: '\ea15'; } /* '' */
.icon-android:before { content: '\ea16'; } /* '' */
.icon-flattr:before { content: '\ea17'; } /* '' */
.icon-instapaper:before { content: '\ea18'; } /* '' */
.icon-eventful:before { content: '\ea19'; } /* '' */
.icon-tree-2:before { content: '\ea1a'; } /* '' */
.icon-prison:before { content: '\ea1b'; } /* '' */
.icon-trash-2:before { content: '\ea1c'; } /* '' */
.icon-police:before { content: '\ea1d'; } /* '' */
.icon-toilet:before { content: '\ea1e'; } /* '' */
.icon-theatre:before { content: '\ea1f'; } /* '' */
.icon-tennis:before { content: '\ea20'; } /* '' */
.icon-swimming:before { content: '\ea21'; } /* '' */
.icon-school:before { content: '\ea22'; } /* '' */
.icon-shop-1:before { content: '\ea23'; } /* '' */
.icon-roadblock:before { content: '\ea24'; } /* '' */
.icon-restaurant:before { content: '\ea25'; } /* '' */
.icon-religious-jewish:before { content: '\ea26'; } /* '' */
.icon-hospital:before { content: '\ea27'; } /* '' */
.icon-college:before { content: '\ea28'; } /* '' */
.icon-cinema:before { content: '\ea29'; } /* '' */
.icon-heliport:before { content: '\ea2a'; } /* '' */
.icon-religious-islam:before { content: '\ea2b'; } /* '' */
.icon-religious-christian:before { content: '\ea2c'; } /* '' */
.icon-harbor:before { content: '\ea2d'; } /* '' */
.icon-cemetery:before { content: '\ea2e'; } /* '' */
.icon-campsite:before { content: '\ea2f'; } /* '' */
.icon-grocery-store:before { content: '\ea30'; } /* '' */
.icon-golf:before { content: '\ea31'; } /* '' */
.icon-cafe:before { content: '\ea32'; } /* '' */
.icon-bus:before { content: '\ea33'; } /* '' */
.icon-giraffe:before { content: '\ea34'; } /* '' */
.icon-garden:before { content: '\ea35'; } /* '' */
.icon-bicycle:before { content: '\ea36'; } /* '' */
.icon-belowground-rail:before { content: '\ea37'; } /* '' */
.icon-fuel:before { content: '\ea38'; } /* '' */
.icon-pitch:before { content: '\ea39'; } /* '' */
.icon-pharmacy:before { content: '\ea3a'; } /* '' */
.icon-basketball:before { content: '\ea3b'; } /* '' */
.icon-fire-station:before { content: '\ea3c'; } /* '' */
.icon-museum:before { content: '\ea3d'; } /* '' */
.icon-monument:before { content: '\ea3e'; } /* '' */
.icon-minefield:before { content: '\ea40'; } /* '' */
.icon-london-underground:before { content: '\ea41'; } /* '' */
.icon-embassy:before { content: '\ea42'; } /* '' */
.icon-art-gallery:before { content: '\ea43'; } /* '' */
.icon-cricket:before { content: '\ea44'; } /* '' */
.icon-lodging:before { content: '\ea45'; } /* '' */
.icon-library:before { content: '\ea46'; } /* '' */
.icon-credit-card-1:before { content: '\ea47'; } /* '' */
.icon-airfield:before { content: '\ea48'; } /* '' */
.icon-aboveground-rail:before { content: '\ea49'; } /* '' */
.icon-commerical-building:before { content: '\ea4a'; } /* '' */
.icon-industrial-building:before { content: '\ea4b'; } /* '' */
.icon-warehouse:before { content: '\ea4c'; } /* '' */
.icon-rail:before { content: '\ea4d'; } /* '' */
.icon-post:before { content: '\ea4e'; } /* '' */
.icon-town-hall:before { content: '\ea4f'; } /* '' */
.icon-tree-1:before { content: '\ea50'; } /* '' */
.icon-baseball:before { content: '\ea51'; } /* '' */
.icon-airport:before { content: '\ea52'; } /* '' */
.icon-skiing:before { content: '\ea53'; } /* '' */
.icon-soccer:before { content: '\ea54'; } /* '' */
.icon-football:before { content: '\ea55'; } /* '' */
.icon-beer:before { content: '\ea56'; } /* '' */
.icon-fast-food:before { content: '\ea57'; } /* '' */
.icon-ferry:before { content: '\ea58'; } /* '' */
.icon-anchor:before { content: '\ea59'; } /* '' */
.icon-male-1:before { content: '\ea5a'; } /* '' */
.icon-female-1:before { content: '\ea5b'; } /* '' */
.icon-at:before { content: '\ea5c'; } /* '' */
.icon-vector-pencil:before { content: '\ea5d'; } /* '' */
.icon-king:before { content: '\ea5e'; } /* '' */
.icon-cloud-3:before { content: '\ea5f'; } /* '' */
.icon-flash:before { content: '\ea60'; } /* '' */
.icon-right-bold:before { content: '\ea61'; } /* '' */
.icon-left-fat:before { content: '\ea62'; } /* '' */
.icon-up-fat:before { content: '\ea63'; } /* '' */
.icon-down-1:before { content: '\ea64'; } /* '' */
.icon-clock-3:before { content: '\ea65'; } /* '' */
.icon-cog-3:before { content: '\ea66'; } /* '' */
.icon-left-1:before { content: '\ea67'; } /* '' */
.icon-pencil-2:before { content: '\ea68'; } /* '' */
.icon-help-circled-1:before { content: '\ea69'; } /* '' */
.icon-help-circled-alt:before { content: '\ea6a'; } /* '' */
.icon-heart-3:before { content: '\ea6b'; } /* '' */
.icon-mail-3:before { content: '\ea6c'; } /* '' */
.icon-right-fat:before { content: '\ea6d'; } /* '' */
.icon-down-fat:before { content: '\ea6e'; } /* '' */
.icon-up-bold:before { content: '\ea6f'; } /* '' */
.icon-left-bold:before { content: '\ea70'; } /* '' */
.icon-down-bold:before { content: '\ea71'; } /* '' */
.icon-up-1:before { content: '\ea72'; } /* '' */
.icon-right-1:before { content: '\ea73'; } /* '' */
.icon-stopwatch:before { content: '\ea74'; } /* '' */
.icon-hourglass:before { content: '\ea75'; } /* '' */
.icon-plus-1:before { content: '\ea76'; } /* '' */
.icon-cancel-2:before { content: '\ea77'; } /* '' */
.icon-star-3:before { content: '\ea78'; } /* '' */
.icon-ok-2:before { content: '\ea79'; } /* '' */
.icon-volume-up-1:before { content: '\ea7a'; } /* '' */
.icon-bullhorn:before { content: '\ea7b'; } /* '' */
.icon-youtube-3:before { content: '\ea7c'; } /* '' */
.icon-twitter-rect:before { content: '\ea7d'; } /* '' */
.icon-twitter-bird-2:before { content: '\ea7e'; } /* '' */
.icon-facebook-4:before { content: '\ea7f'; } /* '' */
.icon-money-1:before { content: '\ea80'; } /* '' */
.icon-facebook-rect-2:before { content: '\ea81'; } /* '' */
.icon-twitter-4:before { content: '\ea82'; } /* '' */
.icon-mobile-2:before { content: '\ea83'; } /* '' */
.icon-mobile-alt:before { content: '\ea84'; } /* '' */
.icon-tablet-1:before { content: '\ea85'; } /* '' */
.icon-ipod:before { content: '\ea86'; } /* '' */
.icon-zoom-out-2:before { content: '\ea87'; } /* '' */
.icon-zoom-in-2:before { content: '\ea88'; } /* '' */
.icon-clock-4:before { content: '\ea89'; } /* '' */
.icon-clock-alt:before { content: '\ea8a'; } /* '' */
.icon-trash-4:before { content: '\ea8b'; } /* '' */
.icon-basket-1:before { content: '\ea8c'; } /* '' */
.icon-resize-small-1:before { content: '\ea8d'; } /* '' */
.icon-resize-full-2:before { content: '\ea8e'; } /* '' */
.icon-print-3:before { content: '\ea8f'; } /* '' */
.icon-cancel-circle-1:before { content: '\ea90'; } /* '' */
.icon-cancel-3:before { content: '\ea91'; } /* '' */
.icon-user-pair:before { content: '\ea92'; } /* '' */
.icon-star-4:before { content: '\ea93'; } /* '' */
.icon-mail-4:before { content: '\ea94'; } /* '' */
.icon-search-3:before { content: '\ea95'; } /* '' */
.icon-user-4:before { content: '\ea96'; } /* '' */
.icon-user-woman:before { content: '\ea97'; } /* '' */
.icon-heart-4:before { content: '\ea98'; } /* '' */
.icon-thumbs-up-2:before { content: '\ea99'; } /* '' */
.icon-thumbs-down-1:before { content: '\ea9a'; } /* '' */
.icon-lock-4:before { content: '\ea9b'; } /* '' */
.icon-lock-open-3:before { content: '\ea9c'; } /* '' */
.icon-home-1:before { content: '\ea9d'; } /* '' */
.icon-plus-2:before { content: '\ea9e'; } /* '' */
.icon-question:before { content: '\ea9f'; } /* '' */
.icon-location-4:before { content: '\eaa0'; } /* '' */
.icon-info:before { content: '\eaa1'; } /* '' */
.icon-attention-1:before { content: '\eaa2'; } /* '' */
.icon-rss-3:before { content: '\eaa3'; } /* '' */
.icon-wrench-1:before { content: '\eaa4'; } /* '' */
.icon-key-inv:before { content: '\eaa5'; } /* '' */
.icon-key-2:before { content: '\eaa6'; } /* '' */
.icon-moon-inv:before { content: '\eaa7'; } /* '' */
.icon-umbrella:before { content: '\eaa8'; } /* '' */
.icon-chart-bar-1:before { content: '\eaa9'; } /* '' */
.icon-flash-1:before { content: '\eaaa'; } /* '' */
.icon-moon:before { content: '\eaab'; } /* '' */
.icon-sun-inv:before { content: '\eaac'; } /* '' */
.icon-rain:before { content: '\eaad'; } /* '' */
.icon-cloud-4:before { content: '\eaae'; } /* '' */
.icon-sun:before { content: '\eaaf'; } /* '' */
.icon-layers:before { content: '\eab0'; } /* '' */
.icon-layers-alt:before { content: '\eab1'; } /* '' */
.icon-bat-half:before { content: '\eab2'; } /* '' */
.icon-resize-full-3:before { content: '\eab3'; } /* '' */
.icon-resize-full-alt-1:before { content: '\eab4'; } /* '' */
.icon-resize-small-2:before { content: '\eab5'; } /* '' */
.icon-resize-vertical-1:before { content: '\eab6'; } /* '' */
.icon-resize-small-alt:before { content: '\eab7'; } /* '' */
.icon-resize-horizontal-1:before { content: '\eab8'; } /* '' */
.icon-move-1:before { content: '\eab9'; } /* '' */
.icon-user-5:before { content: '\eaba'; } /* '' */
.icon-plus-3:before { content: '\eabb'; } /* '' */
.icon-minus-1:before { content: '\eabc'; } /* '' */
.icon-plus-circle-1:before { content: '\eabd'; } /* '' */
.icon-ok-3:before { content: '\eabe'; } /* '' */
.icon-ok-circle-1:before { content: '\eabf'; } /* '' */
.icon-lock-open-4:before { content: '\eac0'; } /* '' */
.icon-lock-open-empty:before { content: '\eac1'; } /* '' */
.icon-lock-5:before { content: '\eac2'; } /* '' */
.icon-lock-empty:before { content: '\eac3'; } /* '' */
.icon-twitter-5:before { content: '\eac4'; } /* '' */
.icon-twitter-circled-1:before { content: '\eac5'; } /* '' */
.icon-facebook-circled-1:before { content: '\eac6'; } /* '' */
.icon-facebook-5:before { content: '\eac7'; } /* '' */
.icon-flickr-2:before { content: '\eac8'; } /* '' */
.icon-skype-outline:before { content: '\eac9'; } /* '' */
.icon-skype-4:before { content: '\eaca'; } /* '' */
.icon-tumbler-circled:before { content: '\eacb'; } /* '' */
.icon-tumbler:before { content: '\eacc'; } /* '' */
.icon-pinterest-circled:before { content: '\eacd'; } /* '' */
.icon-linkedin-4:before { content: '\eace'; } /* '' */
.icon-linkedin-circled-1:before { content: '\eacf'; } /* '' */
.icon-headphones-1:before { content: '\ead0'; } /* '' */
.icon-volume-high:before { content: '\ead1'; } /* '' */
.icon-volume-middle:before { content: '\ead2'; } /* '' */
.icon-volume-low:before { content: '\ead3'; } /* '' */
.icon-vimeo-circled:before { content: '\ead4'; } /* '' */
.icon-twitter-6:before { content: '\ead5'; } /* '' */
.icon-twitter-circled-2:before { content: '\ead6'; } /* '' */
.icon-facebook-6:before { content: '\ead7'; } /* '' */
.icon-gplus-2:before { content: '\ead8'; } /* '' */
.icon-gplus-circled-1:before { content: '\ead9'; } /* '' */
.icon-pinterest-2:before { content: '\eada'; } /* '' */
.icon-pinterest-circled-1:before { content: '\eadb'; } /* '' */
.icon-tumblr-3:before { content: '\eadc'; } /* '' */
.icon-tumblr-circled:before { content: '\eadd'; } /* '' */
.icon-linkedin-5:before { content: '\eade'; } /* '' */
.icon-linkedin-circled-2:before { content: '\eadf'; } /* '' */
.icon-facebook-circled-2:before { content: '\eae0'; } /* '' */
.icon-facebook-squared:before { content: '\eae1'; } /* '' */
.icon-user-6:before { content: '\eae2'; } /* '' */
.icon-users-1:before { content: '\eae3'; } /* '' */
.icon-mail-5:before { content: '\eae4'; } /* '' */
.icon-music-2:before { content: '\eae5'; } /* '' */
.icon-search-4:before { content: '\eae6'; } /* '' */
.icon-heart-5:before { content: '\eae7'; } /* '' */
.icon-users-2:before { content: '\eae8'; } /* '' */
.icon-user-7:before { content: '\eae9'; } /* '' */
.icon-bell-2:before { content: '\eaea'; } /* '' */
.icon-export-2:before { content: '\eaeb'; } /* '' */
.icon-trash-empty:before { content: '\eaec'; } /* '' */
.icon-folder-3:before { content: '\eaed'; } /* '' */
.icon-folder-open-2:before { content: '\eaee'; } /* '' */
.icon-download-2:before { content: '\eaef'; } /* '' */
.icon-upload-2:before { content: '\eaf0'; } /* '' */
.icon-to-end-1:before { content: '\eaf1'; } /* '' */
.icon-to-end-alt:before { content: '\eaf2'; } /* '' */
.icon-to-start-1:before { content: '\eaf3'; } /* '' */
.icon-fast-fw:before { content: '\eaf4'; } /* '' */
.icon-fast-bw:before { content: '\eaf5'; } /* '' */
.icon-truck-1:before { content: '\eaf6'; } /* '' */
.icon-twitter-squared:before { content: '\eaf7'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-th-list-2:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-coverflow-empty:before { content: '\f00d'; } /* '' */
.icon-pause-1:before { content: '\f00e'; } /* '' */
.icon-play-1:before { content: '\f00f'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-fast-forward-1:before { content: '\f012'; } /* '' */
.icon-fast-backward-1:before { content: '\f013'; } /* '' */
.icon-upload-cloud:before { content: '\f014'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-globe-2:before { content: '\f018'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-math-circled-empty:before { content: '\f01b'; } /* '' */
.icon-math-circled:before { content: '\f01c'; } /* '' */
.icon-paper-plane-2:before { content: '\f01d'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */
.icon-paper-plane-alt:before { content: '\f01f'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-reply-1:before { content: '\f02a'; } /* '' */
.icon-retweet-2:before { content: '\f02b'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-download-1:before { content: '\f02e'; } /* '' */
.icon-upload-1:before { content: '\f02f'; } /* '' */
.icon-location-3:before { content: '\f031'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-tablet:before { content: '\f033'; } /* '' */
.icon-mobile-1:before { content: '\f034'; } /* '' */
.icon-connected-object:before { content: '\f035'; } /* '' */
.icon-isight:before { content: '\f039'; } /* '' */
.icon-videocam-2:before { content: '\f03a'; } /* '' */
.icon-shuffle-1:before { content: '\f03b'; } /* '' */
.icon-chat-1:before { content: '\f03d'; } /* '' */
.icon-bell-1:before { content: '\f03f'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-mic-1:before { content: '\f048'; } /* '' */
.icon-doc-3:before { content: '\f04a'; } /* '' */
.icon-dribbble-circled:before { content: '\f04f'; } /* '' */
.icon-dribbble-2:before { content: '\f050'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-facebook-3:before { content: '\f052'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled-1:before { content: '\f054'; } /* '' */
.icon-github-3:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-twitter-3:before { content: '\f058'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus-1:before { content: '\f05a'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-linkedin-3:before { content: '\f05c'; } /* '' */
.icon-instagram-3:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-mfg-logo:before { content: '\f05f'; } /* '' */
.icon-mfg-logo-circled:before { content: '\f060'; } /* '' */
.icon-user-3:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-folder-2:before { content: '\f067'; } /* '' */
.icon-folder-open-1:before { content: '\f068'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-attach-3:before { content: '\f06a'; } /* '' */
.icon-ok-circled-1:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-1:before { content: '\f06e'; } /* '' */
.icon-inbox-2:before { content: '\f070'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-lock-open-alt-1:before { content: '\f075'; } /* '' */
.icon-link-1:before { content: '\f07b'; } /* '' */
.icon-zoom-in-1:before { content: '\f07e'; } /* '' */
.icon-zoom-out-1:before { content: '\f07f'; } /* '' */
.icon-stop-1:before { content: '\f080'; } /* '' */
.icon-export-1:before { content: '\f081'; } /* '' */
.icon-eye-2:before { content: '\f082'; } /* '' */
.icon-trash-3:before { content: '\f083'; } /* '' */
.icon-hdd-1:before { content: '\f084'; } /* '' */
.icon-info-circled-1:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-print-2:before { content: '\f087'; } /* '' */
.icon-fontsize-1:before { content: '\f088'; } /* '' */
.icon-soundcloud-1:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-twitter-7:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-folder-empty-1:before { content: '\f114'; } /* '' */
.icon-folder-open-empty-1:before { content: '\f115'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-tumblr-4:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-windows-1:before { content: '\f17a'; } /* '' */
.icon-android-1:before { content: '\f17b'; } /* '' */
.icon-male-2:before { content: '\f183'; } /* '' */
.icon-vkontakte-1:before { content: '\f189'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-wordpress-3:before { content: '\f19a'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-vine:before { content: '\f1ca'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash-5:before { content: '\f1f8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-mercury:before { content: '\f223'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mars-stroke:before { content: '\f229'; } /* '' */
.icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-yandex:before { content: '\f305'; } /* '' */
.icon-yandex-rect:before { content: '\f306'; } /* '' */
.icon-github-text-1:before { content: '\f307'; } /* '' */
.icon-github-1:before { content: '\f308'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-odnoklassniki:before { content: '\f30c'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-vimeo-1:before { content: '\f30f'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-tumblr-1:before { content: '\f311'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-blogger-1:before { content: '\f314'; } /* '' */
.icon-blogger-rect:before { content: '\f315'; } /* '' */
.icon-deviantart-1:before { content: '\f316'; } /* '' */
.icon-jabber:before { content: '\f317'; } /* '' */
.icon-lastfm:before { content: '\f318'; } /* '' */
.icon-lastfm-rect:before { content: '\f319'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect-1:before { content: '\f31b'; } /* '' */
.icon-picasa-1:before { content: '\f31c'; } /* '' */
.icon-wordpress-1:before { content: '\f31d'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-diigo:before { content: '\f320'; } /* '' */
.icon-box:before { content: '\f321'; } /* '' */
.icon-box-rect:before { content: '\f322'; } /* '' */
.icon-tudou:before { content: '\f323'; } /* '' */
.icon-youku:before { content: '\f324'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-amex:before { content: '\f326'; } /* '' */
.icon-discover:before { content: '\f327'; } /* '' */
.icon-visa:before { content: '\f328'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-houzz:before { content: '\f32a'; } /* '' */
.icon-bandcamp:before { content: '\f32b'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
.icon-comment-3:before { content: '\f4ac'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */
.icon-camera-2:before { content: '\f4f7'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock-3:before { content: '\f512'; } /* '' */
.icon-lock-open-2:before { content: '\f513'; } /* '' */
.icon-joystick:before { content: '\f514'; } /* '' */
.icon-fire-2:before { content: '\f525'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */
.icon-spinner1:before { content: '\f528'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */
