/*Page de connexion admin*/

.gradient-bg-1 {
    background: linear-gradient(to right, #ff6b6b, #ffe66d);
}

.gradient-bg-2 {
    background: linear-gradient(to right, #FFF, #05d);
}

.mgn-top-15{
    margin-top: 15%;
}

/*Page de connexion admin*/